 @media (min-width: 768px) {
    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    #header-mobile {
        display: none;
    }
    body {
        font-family: 'Arial', sans-serif;
        width: 100%;
        max-width: 100%;
        background: url('espace.webp') no-repeat center center fixed;
        background-size: cover;
        color: black;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .logo a {
        text-decoration: none; /* Supprime le soulignement */
        color: inherit; /* Utilise la couleur par défaut du texte */
        font-weight: bold; /* Pour garder l'effet du logo */
    }
    .side-menu {
        display: none;
    }
    
    /* Ensure the main content (flexible) doesn't overlap footer */
    main {
        flex-grow: 1;
        padding: 20px;
    }
    /* Style pour le lien enveloppant le logo et le texte */
.welcome-link {
    text-decoration: none; /* Pour enlever la ligne sous le texte du lien */
    color: inherit; /* Hérite la couleur du texte parent (ici blanc par défaut) */
    display: block; /* Fais en sorte que tout soit cliquable */
}
    /* Header */
    #header {
        position: fixed;
        top: 0;
        left: 0;
	color: WHITE;
        width: 100%;
        background-color: #111;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        animation: slide-down 0.5s ease-out;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        transform: translateY(0);
    }
    .logo-pc {
        height: 40px; /* Ajuste la taille selon ton design */
        vertical-align: middle;
        margin-right: 10px;
    }

    #header.scrolled {
        background-color: #333; /* Changement de couleur lorsque la page est scrollée */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    }

    /* Effet de survol des liens du header */
    #header nav ul li a:hover {
        color: #ff5722;
    }

    /* Effet de survol des liens du header */
    #header nav ul {
        display: flex; /* Onglets côte à côte */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #header nav ul li {
        margin-right: 20px;
    }

    #header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        transition: all 0.3s ease;
    }

    /* Effet de déplacement et surlignage diagonal */
    #header nav ul li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FF5722;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-in-out;
        z-index: -1; /* Place le surlignage derrière le texte */
    }

    /* Au survol, on applique l'effet diagonal avec une animation */
    #header nav ul li a:hover {
        color: #000; /* Changer la couleur du texte sur le survol */
        transform: translateY(-5px) rotate(-5deg); /* Effet de déplacement et de rotation */
    }

    #header nav ul li a:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    /* Dropdown Menu */
    .dropdown {
        position: relative;
    }

    .dropdown .dropbtn {
        background-color: #111;
        color: white;
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .dropdown:hover .dropbtn {
        background-color: #FF5722;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #222;
        min-width: 160px;
        z-index: 1;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 16px;
    }

    .dropdown-content a:hover {
        background-color: #FF5722;
    }

    /* Footer */
    footer {
        background-color: #111;
        padding: 20px;
        text-align: center;
        color: #fff;
        width: 100%;
        margin-top: auto; /* Assurez-vous que le footer soit en bas */
    }
    #header-mobile {
        display: none;
        justify-content: space-between;
        align-items: center;
        background-color: #111;
        padding: 10px 15px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        box-sizing: border-box;
    }

	     /* Styles pour le bouton/link MTCGuia */
        .mtcguia-link {
            margin-left: 5px;
            padding: 8px 12px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 4px;
            text-decoration: none;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
        }

        .mtcguia-link:hover {
            background-color: #FF5722;
            text-decoration: none;
        }

        .mtcguia-link i {
            margin-right: 5px;
        }

        /* Style pour le texte d'attribution */
        .attribution-text {
            font-size: 14px;
            color: white;
            margin-top: 5px;
            font-style: italic;
        }
.container {
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5%;
}

/* Style pour le champ de recherche */
input[type="text"] {
    padding: 12px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #FF5722;
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
/* Style pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: Center;
    font-size: 16px;
}

/* Titre des colonnes */
/* Style pour les en-têtes de colonnes avec un bouton de tri */
th {
    background-color: #333;
    color: white;
    font-size: 18px;
    cursor: pointer;  /* Le curseur devient une main pour signaler qu'on peut cliquer */
    position: relative;  /* Pour permettre d'ajouter un indicateur de tri */
    padding-right: 30px;  /* Ajouter un peu d'espace à droite pour la flèche */
}

/* Effet de survol pour les en-têtes de colonnes */
th:hover {
    background-color: #444;  /* Fond légèrement plus clair pour indiquer qu'on peut interagir */
}

/* Style des flèches de tri */
th::after {
    content: ''; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;  /* Flèche pointant vers le bas par défaut */
    visibility: hidden;  /* Cachée tant qu'il n'y a pas de tri */
}

/* Flèche de tri ascendant (vers le bas) */
th.sorted-asc::after {
    visibility: visible;
    border-top: 5px solid #007bff;  /* Flèche bleue pour l'ordre croissant */
    border-bottom: none;
}

/* Flèche de tri descendant (vers le haut) */
th.sorted-desc::after {
    visibility: visible;
    border-bottom: 5px solid #007bff;  /* Flèche bleue pour l'ordre décroissant */
    border-top: none;
}

/* Fond des cellules et texte visible */
td {
    background-color: rgba(0, 0, 0, 0.1); /* Fond légèrement sombre mais transparent */
    color: white; /* Texte blanc pour plus de contraste */
    position: relative; /* Pour permettre aux tooltips d'apparaître correctement */
}

/* Ombre de texte pour améliorer la lisibilité */
td, th {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Ombre plus forte pour améliorer la lisibilité */
}

/* Style des images dans les cellules */
td img {
    max-width: 50px;  /* Largeur maximum */
    height: auto;     /* Hauteur automatique pour conserver les proportions */
    object-fit: cover;  /* Pour que l'image remplisse la case sans la déformer */
    border-radius: 5px;  /* Coins arrondis pour un effet plus moderne */
}
/* Style spécifique pour la colonne Photo (2ème colonne) */
#dataTable td:nth-child(2),
#dataTable th:nth-child(2) {
    text-align: center;  /* Centrer l'image dans la cellule */
    padding: 0;  /* Enlever les espaces internes de la cellule */
    width: 10%; /* Largeur relative de la cellule */
    height: 10%; /* Hauteur relative de la cellule */
    max-width: 100px; /* Largeur maximale de la cellule */
    max-height: 100px; /* Hauteur maximale de la cellule */
}

/* Si tu veux modifier spécifiquement les images de la colonne Photo */
#dataTable td:nth-child(2) img {
    width: 100%;  /* L'image prend toute la largeur de la cellule */
    height: 100%; /* L'image prend toute la hauteur de la cellule */
    object-fit: cover;  /* L'image couvre la cellule sans être déformée, mais peut être recadrée */
    border-radius: 50%;  /* Coins arrondis pour l'image */
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Effet de transition lors du survol */
}

/* Effet lors du survol sur l'image */
#dataTable td:nth-child(2):hover img {
    transform: scale(1.1);  /* Augmenter légèrement la taille de l'image lors du survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  /* Ajouter une ombre pour l'effet de survol */
}


/* Tooltips (info-bulles) */
.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 1);  /* Fond sombre pour les tooltips */
    color: white;
    font-size: 14px;  /* Taille de police plus petite pour la tooltip */
    text-align: center;
    padding: 6px 10px;
    border-radius: 8px;
    z-index: 10;
    bottom: 50%; /* Placer la tooltip juste au-dessus de l'image */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Afficher la tooltip lors du survol */
td:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Styles spécifiques pour chaque classe avec des couleurs plus marquées */
.mutante {
    background-color: rgba(255, 215, 0, 0.65);
}

.virtuose {
    background-color: rgba(255, 0, 0, 0.65);
}

.tech {
    background-color: rgba(0, 0, 139, 0.65);
}

.mystique {
    background-color: rgba(75, 0, 130, 0.65);
}

.science {
    background-color: rgba(0, 255, 0, 0.65);
}

.cosmique {
    background-color: rgba(135, 206, 235, 0.65);
}

/* Effet de survol pour chaque ligne */
tr:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease;
}

/* Hover spécifique pour chaque classe */
.mutante:hover {
    background-color: rgba(255, 215, 0, 0.9);
}

.virtuose:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

.tech:hover {
    background-color: rgba(0, 0, 139, 0.9);
}

.mystique:hover {
    background-color: rgba(75, 0, 130, 0.9);
}

.science:hover {
    background-color: rgba(0, 255, 0, 0.9);
}

.cosmique:hover {
    background-color: rgba(135, 206, 235, 0.9);
}


}

@media (max-width: 768px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        background: url('espace.webp') no-repeat center center fixed;
        background-size: cover;
        color: #fff;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Permet d'empiler les éléments verticalement */
    }
    welcome-screen {
        display: none;
    }.welcome-link {
        display: none;
    }
    /* Section d'accueil pleine page */
    #welcome-screen img {
       display: none;
    }
    /* Overlay avec transparence */
    #welcome-screen .overlay {
      display: none;
    }
    
    /* Texte visible sur l'image */
    #welcome-screen .welcome-text {
       display: none;
    }
    
    body {
        font-size: 1rem; /* Taille de police adaptée */
        width: 100%;
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; /* Centre tout le contenu horizontalement */
    }

    .logo a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        font-size: 1.5rem;
    }

   /* Masquer le header classique */
    #header {
        display: none;
    }

    /* Afficher le header mobile */
    #header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #111;
        padding: 10px 15px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        box-sizing: border-box;
    }

    #header-mobile .logo {
        display: flex;
        align-items: center;
        color: #fff;
    }

    #header-mobile .logo img {
        height: 30px;  /* Ajuste la taille du logo favicon */
        margin-right: 10px;
    }

    #header-mobile a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
    }

    /* Icône de menu sur mobile */
    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }    

    #header.scrolled {
        background-color: #333;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    }

    #header nav ul {
        display: flex;
        flex-direction: column; /* Onglets verticalement sur mobile */
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #header nav ul li {
        margin-bottom: 2rem;
    }

    #header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        transition: all 0.3s ease;
    }

    #header nav ul li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FF5722;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-in-out;
        z-index: -1;
    }

    #header nav ul li a:hover {
        color: #000;
        transform: translateY(-5%) rotate(-5deg);
    }

    #header nav ul li a:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    /* Dropdown Menu */
    .dropdown {
        position: relative;
    }

    .dropdown .dropbtn {
        background-color: #111;
        color: white;
        padding: 3%;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .dropdown:hover .dropbtn {
        background-color: #FF5722;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #222;
        min-width: 80%;
        z-index: 1;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        color: #fff;
        padding: 4% 5%;
        text-decoration: none;
        display: block;
        font-size: 1.5rem;
    }

    .dropdown-content a:hover {
        background-color: #FF5722;
    }
	.mtcguia-link {
    margin-left: 1em; /* Remplacer px par em pour une meilleure adaptabilité */
    padding: 0.5em 0.75em; /* Valeurs en em */
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.25em; /* Valeur en em pour border-radius */
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.mtcguia-link:hover {
    background-color: #FF5722;
    text-decoration: none;
}

.mtcguia-link i {
    margin-right: 0.5em; /* Valeur en em */
}

/* Style pour le texte d'attribution */
.attribution-text {
    font-size: 0.875em; /* Remplacer px par em pour le texte */
    color: white;
    margin-top: 0.25em; /* Valeur en em */
    font-style: italic;
}


    .container {
        margin: 20%;
        width: 90%;
        max-width: 100%;
        box-sizing: border-box;
    }
    
/* Style pour le champ de recherche */
input[type="text"] {
    padding: 1em;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 0.1em solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #FF5722;
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

/* Style pour le tableau */
table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}


table, th, td {
    border: 0.1em solid #ddd;
}

th, td {
    padding: 0.8em;
    font-size: 0.9em;
    text-align: center;
    word-wrap: break-word;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Titre des colonnes */
th {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
}

/* Effet de survol pour les en-têtes de colonnes */
th:hover {
    background-color: #444;
}

/* Style des flèches de tri */
th::after {
    content: ''; 
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid white;
    visibility: hidden;
}

/* Flèche de tri ascendant (vers le bas) */
th.sorted-asc::after {
    visibility: visible;
    border-top: 0.5em solid #007bff;
    border-bottom: none;
}

/* Flèche de tri descendant (vers le haut) */
th.sorted-desc::after {
    visibility: visible;
    border-bottom: 0.5em solid #007bff;
    border-top: none;
}

/* Fond des cellules et texte visible */
td {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    position: relative;
}

/* Ombre de texte pour améliorer la lisibilité */
td, th {
    text-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.7);
}

/* Style des images dans les cellules */
td img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Style spécifique pour la colonne Photo */
#dataTable td:nth-child(2),
#dataTable th:nth-child(2) {
    text-align: center;
    position: sticky;
    background-color: #333; /* Fond pour la colonne "gelée" */
    left: 0;
    padding: 5px;
    width: 20%;
    z-index: 4; /* S'assure que la colonne reste au-dessus des autres */
    height: 20%;
    max-width: 15em;
    max-height: 15em;
}
	/* Ajouter un fond blanc pour la cellule de la deuxième colonne afin d'éviter la transparence */
#dataTable td:nth-child(2) {
    background-color: #333; 
    color: white;
    padding: 0;
}

/* Images de la colonne Photo */
/* Images de la colonne Photo */
#dataTable td:nth-child(2) img {
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: auto;
}

/* Effet lors du survol sur l'image */
#dataTable td:nth-child(2):hover img {
    transform: scale(1.1);
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.3);
}

#dataTable td:nth-child(6),
#dataTable th:nth-child(6),
#dataTable td:nth-child(7),
#dataTable th:nth-child(7) {
    text-align: center;
    width: 20%;
    height: 20%;
    max-width: 15em;
    max-height: 15em;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8); /* Couleur plus subtile */
    color: white;
    font-size: 0.75em; /* Réduction de la taille du texte */
    text-align: center;
    padding: 0.6em 1em;
    border-radius: 0.5em;
    z-index: 10;
    bottom: 120%; /* Décalage vers le haut */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    max-width: 200px; /* Limiter la largeur du tooltip */
    white-space: nowrap;
    overflow: hidden; /* Cacher le texte qui déborde */
    margin: 5px; /* Ajouter un peu d'espace autour du tooltip */
}

td:hover .tooltip {
    visibility: visible;
    opacity: 1;
    bottom: 120%; /* Positionner le tooltip au-dessus de la cellule */
    left: 50%;
    transform: translateX(-50%);
}


/* Styles spécifiques pour chaque classe */
.mutante {
    background-color: rgba(255, 215, 0, 0.65);
}

.virtuose {
    background-color: rgba(255, 0, 0, 0.65);
}

.tech {
    background-color: rgba(0, 0, 139, 0.65);
}

.mystique {
    background-color: rgba(75, 0, 130, 0.65);
}

.science {
    background-color: rgba(0, 255, 0, 0.65);
}

.cosmique {
    background-color: rgba(135, 206, 235, 0.65);
}

/* Effet de survol pour chaque ligne */
tr:hover {
    background-color: #ddd;
}

.mutante:hover {
    background-color: rgba(255, 215, 0, 0.9);
}

.virtuose:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

.tech:hover {
    background-color: rgba(0, 0, 139, 0.9);
}

.mystique:hover {
    background-color: rgba(75, 0, 130, 0.9);
}

.science:hover {
    background-color: rgba(0, 255, 0, 0.9);
}

.cosmique:hover {
    background-color: rgba(135, 206, 235, 0.9);
}
footer {
    background-color: #111;
    padding: 2vw;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: auto;
}
}
